.main-nav__nav {
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  flex-wrap: nowrap;
  position: sticky;
  top: 4rem;
  flex-direction: column;
  background: #f9fafb;
  border-bottom: 1px solid #ecf0f3;
  z-index: 10;
  align-content: center;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 0;
}
.main-nav__nav .main-nav__navigation {
  overflow-x: auto;
  height: 4rem;
  gap: 1rem;
  background: #f4f5f7;
  box-shadow: 0 1.5px 0 #e3e9ed, 0 -1.5px 0 #e3e9ed;
  display: flex;
}

.main-nav__nav .main-nav__navigation .main-nav__items {
  margin-left: 2rem;
  flex-shrink: 0;
  padding: 0;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}
@media (max-width: 768px) {
  .main-nav__nav {
    top: 3.5rem;
  }
  .main-nav__nav .main-nav__navigation {
    height: 3.5rem;
    gap: 0;
  }
  .main-nav__nav .main-nav__navigation .main-nav__items {
    margin-left: 1rem;
  }
}
.main-nav__items > div {
  height: 100%;
}
.main-nav__items > div a {
  height: 100%;
  align-items: center;
  padding: 0 1.25rem;
  text-decoration: none;
  flex-wrap: nowrap;
  display: flex;
  opacity: 0.75;
}
.main-nav__items > div a:hover {
  opacity: 1;
}
.main-nav__items > div a.active {
  opacity: 1;
}

.main-nav__items > div a .main-nav__subItem {
  align-items: center;
  display: flex;
  flex: none;
}
.main-nav__items > div a .main-nav__subItem .icon {
  height: 32px;
  width: 32px;
  max-width: 100%;
  font-size: 1.5rem;
}
.main-nav__items > div a .main-nav__title {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
}
.main-nav__items > div a .main-nav__title p {
  font-weight: 600;
  white-space: nowrap;
  color: #687782;
  margin-right: 0.25rem;
  margin-bottom: 0;
  margin-top: 0;
}
