.SignIn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  /*degradade  #9164cc    #863399  45%  right botoom*/
  background: linear-gradient(to bottom right, #9164cc, #863399);
}

.SignIn-container .signIn-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 20rem;
}

.SignIn-container .signIn-center .signIn-center-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* height: 100%; */
}

.SignIn-container .signIn-center .signIn-center-form .signIn-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10rem;
}
.SignIn-container .signIn-center .signIn-center-form .signIn-title img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.SignIn-container .signIn-center .signIn-center-form .signIn-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.SignIn-container .signIn-center .signIn-center-form .signIn-form .signIn-form-content{
  display: flex;
  flex-direction: column;
}
.SignIn-container .signIn-center .signIn-center-form .signIn-form .labelzf{
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-title);
  color: #273b49;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 667px) {
  .SignIn-container .signIn-center .signIn-center-form{
    height: 100%;
  }
  .SignIn-container .signIn-center .signIn-center-form .signIn-title{
    font-size: 1.5rem;
    height: 50%;
  }
  .SignIn-container .signIn-center .signIn-center-form .signIn-form .labelzf{
    font-size: 1.2rem;
  }
  .SignIn-container .signIn-center .signIn-center-form .signIn-form .labelzf span>a{
    font-size: 1rem;
  }
  .SignIn-container .signIn-center .signIn-center-form .signIn-form .form-input{
    height: 40px;
    font-size: 1rem;
  }
}


.SignIn-container .signIn-center .signIn-center-form .signIn-form .signIn-form-group a{
  font-size: 0.8rem;
  color: #9164cc;
}
.SignIn-container .signIn-center .signIn-center-form .signIn-form .signIn-form-group a:hover{
  color: #863399;
}

.SignIn-container .signIn-center .signIn-center-form .signIn-form .signIn-form-button {
  width: 100%;
  margin-top: 1rem;
  border: 2px solid #9164cc;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  height: 2.5rem;
  color: #9164cc;
  transition: all 0.3s;
}

.SignIn-container .signIn-center .signIn-center-form .signIn-form .signIn-form-button:hover {
  cursor: pointer;
  background: #9164cc;
  color: #fff;
}

/* new user  */
.SignIn-container .signIn-center .signIn-center-form .signIn-form__new-user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  border: 2px solid var(--border-color);
  padding: 0.5rem 0.5rem;

}
.SignIn-container .signIn-center .signIn-center-form .signIn-form__new-user>span{
  font-size: 0.9rem;
  color: var(--border-color);
  width: 100%;
}

.SignIn-container .signIn-center .signIn-center-form .signIn-form__new-user a{
  font-size: 0.8rem;
  color: var(--border-color);
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.SignIn-container .signIn-center .signIn-center-form .signIn-form__new-user a:hover span{
  outline: none;
  text-decoration: underline;
}
.SignIn-container .signIn-center .signIn-terms-conditions{
  color: var(--border-color);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

@media (max-width: 668px) {
  .SignIn-container .signIn-center{
    width: 100%;
  }
  .SignIn-container .signIn-center .signIn-center-form .signIn-form{
    padding: 1rem;
    height: 100%;
  }
  .SignIn-container .signIn-center .signIn-center-form .signIn-form .signIn-form-button{
    margin-top:auto;
  }
  .SignIn-container .signIn-center .signIn-center-form .signIn-form__new-user{
    display: none;
  }
  
  /* signIn-terms-conditions */
  .SignIn-container .signIn-center .signIn-terms-conditions{
    display: none;
  }
}