.admin-header_container{
    transition: background 0.25s,border-bottom-color 0.25s,height 0.25s;
    width: calc(100% - 4.25rem);
    left: 4.25rem;
    top: 0;
    z-index: 100;
    position: fixed;
    height: 4rem;
    background: #fff;
    border-bottom: 1px solid #ecf0f3;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 0;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.admin-header_container .admin-header_grid{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    max-width: calc(100% - 96px);
}


.admin-header_container .admin-header_grid .admin-header_content{
    justify-content: space-between;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.admin-header_container .admin-header_grid .admin-header_content>div{
    display: flex;
    align-items: center;
    align-content: center;
    display: none;
}
.admin-header_container .admin-header_grid .admin-header_content>div>svg{
    margin-right: 1rem;
    cursor: pointer;
    
}
.admin-header_container .admin-header_grid .admin-header_content .logotype{
    position: relative;
    align-items: center;
    align-content: center;
    display: flex; 
    flex-wrap: wrap;
}
.admin-header_container .admin-header_grid .admin-header_content .logotype img{
    height: 2.5rem;
}

.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right{
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: auto;
    
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right label{
    position: relative;
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0;
    margin-right: 0.5rem;
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right label.notify{

}

.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right label.notify .item-notify{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: #687782;
    transition: background 0.25s,border-color 0.25s;
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right label.notify .item-notify:hover{
    background: #dfdfe8;
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right label.notify .item-notify svg{
    color: #687782;
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right label.search{
    display: none;
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right label .item-search{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: #687782;
    transition: background 0.25s,border-color 0.25s;
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right label .item-search:hover{
    background: #dfdfe8;
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right .admin-header__user-avatar{
    position: relative;
    background: #ecf0f3;
    border-radius: 1rem;
    cursor: pointer;
    transition: background 0.25s;
    align-items: center;
    align-content: center;
    display: flex;
    padding-right: 0.5rem;
    color: #687782;
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right .admin-header__user-avatar:hover{
    background: #dfdfe8;
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right .admin-header__user-avatar .avatar{
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.25rem;
}
.admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right .admin-header__user-avatar .avatar img{
    transition: opacity 0.3s ease 0s;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

@media (max-width: 768px) {
    .admin-header_container{
        left: 0;
        width: 100%;
        height: 3.5rem;
    }
    .admin-header_container .admin-header_grid{
        width:calc(100% - 2rem);
        column-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 1200px;
    }
    .admin-header_container .admin-header_grid .admin-header_content>div{
        display: flex;
    }
    .admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right label.search{
        display: block;
    }
    .admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right .admin-header__user-avatar{
        padding-right: 0;
    }
    .admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right .admin-header__user-avatar .avatar{
        margin-right: 0;
    }
    .admin-header_container .admin-header_grid .admin-header_content .admin-header_content-right .admin-header__user-avatar>svg{
        display: none;
    }
}