.admin-header_container{
    transition: background 0.25s,border-bottom-color 0.25s,height 0.25s;
    width: calc(100% - 4.25rem);
    left: 4.25rem;
    top: 0;
    z-index: 100;
    position: fixed;
    height: 4rem;
    background: #fff;
    border-bottom: 1px solid #ecf0f3;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 0;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

.admin-header_container .admin-header_grid{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    max-width: calc(100% - 96px);
}


.admin-header_container .admin-header_grid .admin-header_content{
    justify-content: space-between;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.admin-header_container .admin-header_grid .admin-header_content>div{
    display: flex;
    align-items: center;
    align-content: center;
    display: none;
}
.admin-header_container .admin-header_grid .admin-header_content>div>svg{
    margin-right: 1rem;
    cursor: pointer;
    
}
.admin-header_container .admin-header_grid .admin-header_content .logotype{
    position: relative;
    align-items: center;
    align-content: center;
    display: flex; 
    flex-wrap: wrap;
}
.admin-header_container .admin-header_grid .admin-header_content .logotype img{
    height: 2.5rem;
}

@media (max-width: 768px) {
    .admin-header_container{
        left: 0;
        width: 100%;
    }
    .admin-header_container .admin-header_grid{
        width:calc(100% - 2rem);
        column-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 1200px;
    }
    .admin-header_container .admin-header_grid .admin-header_content>div{
        display: flex;
    }
}