.header-edit-profile{
    border-bottom: 1px solid #ecf0f3;
}

.header-edit-profile .header-nav-edit{
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 100%;
    column-gap: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400;
}

.header-edit-profile .header-nav-edit .nav-center{
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.header-edit-profile .header-nav-edit .nav-center a.nav-item{
    font-weight: 600;
    cursor: pointer;
    border-bottom: none;
    background: none;
    padding: 1em 1.5em;
    flex: 1 1 0;
    white-space: nowrap;
    color: #687782;
    box-shadow: 0 -1px #ecf0f3 inset;
    flex-wrap: nowrap;
    font-size: 0.8125rem;
    line-height: 1.8;
}
.header-edit-profile .header-nav-edit .nav-center a.nav-item.active{
    box-shadow: 0 -3px var(--primary-color) inset;
    color: var(--primary-color);
    opacity: 1;
    text-decoration: none;
}
.header-edit-profile .header-nav-edit .nav-center a.nav-item:hover{
    box-shadow: 0 -3px var(--primary-color) inset;
    color: var(--primary-color);
    opacity: 1;
    text-decoration: none;
}

.header-edit-profile .header-nav-edit .nav-center a.nav-item .icon{
    font-size: 1em;
    display: inline-block;
    fill: currentColor;
    margin-right: 0.25em;
}

.header-edit-profile .header-nav-edit .nav-center a.nav-item span{
    font-weight: 600;
}
@media (max-width: 768px) {
    .header-edit-profile .header-nav-edit .nav-center a.nav-item span{
        display: none;
    }
    .header-edit-profile .header-nav-edit .nav-center a.active span{
        display: inline-block;
    }
}
.l-section{
    margin-bottom: calc(1rem * 2);
    margin-top: 0;
}