
#productsIcon>.cls-1{fill:#9d9d9c;}
#productsIcon>.cls-2{fill:#863399;}
#productsIcon>.cls-3{fill:#a3195b;}
#productsIcon>.cls-4{fill:#fcea10;}
#productsIcon>.cls-5{fill:#fff;}
#productsIcon>.cls-6{fill:#cbbba0;}
#productsIcon>.cls-7{fill:#95c11f;}
#productsIcon>.cls-8{fill:#e71d73;}
#productsIcon>.cls-9{fill:#ffed00;}
#productsIcon>.cls-10{fill:#36a9e1;}
#productsIcon>.cls-11{fill:#9164cc;}